<div class="custom-cart" id="divCart">
  <div class="content">
    <span class="glyphicon glyphicon-ok"></span>
    <h3 class="text-success">Add to card success</h3>
    <button type="button" class="btn btn-primary btn-large" id="closeCart">OK</button>
  </div>
</div>
